---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Reduce default 300px margin to 200px
@media (min-width: 80em) {
    .breadcrumbs ol {
        width:calc(100% - 200px)
    }
}

// Reduce default 300px margin to 200px
@media (min-width: 80em) {
    .page {
        width:calc(100% - 200px);
        padding-right: 200px
    }
}

// Reduce font size
.page__content p,.page__content li,.page__content dl {
    font-size: 0.85em;
}

// Reduce code font size
div.highlighter-rouge,figure.highlight {
    font-size: 0.65em;
}