---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/* headline scale */
$h-size-1: 1.563em !default;
$h-size-2: 1.25em !default;
$h-size-3: 1.125em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;

@import "minimal-mistakes"; // main partials

// Reduce default 300px margin to 200px
@media (min-width: 80em) {
    .breadcrumbs ol {
        width:calc(100% - 200px)
    }
}

// Reduce default 300px margin to 200px
@media (min-width: 80em) {
    .page {
        width:calc(100% - 200px);
        padding-right: 200px
    }
}

// Reduce font size
.page__content p,.page__content li,.page__content dl {
    font-size: 0.85em;
}

// Reduce code font size
div.highlighter-rouge,figure.highlight {
    font-size: 0.65em;
}

figcaption {
    font-family: inherit; /* Hereda la fuente del contenedor padre */
    font-size: inherit;   /* Hereda el tamaño de fuente del contenedor padre */
    color: inherit;       /* Hereda el color del contenedor padre */
}
